body {
    font-family: Arial, sans-serif;
    background-color: rgb(138, 152, 232);
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    background-image: url(ta1.jpg);
    padding: 20px;
    border-radius: 10px;
    margin: 80px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgb(255, 29, 29);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.github-button {
    background-color: rgb(1, 195, 1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-size: larger;
    
}